POSTGRES_PASSWORD=your_secure_password
POSTGRES_USER=empirebox
POSTGRES_DB=empirebox
REDIS_PASSWORD=your_secure_password
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
VOICE_SERVICE_PORT=8200
DASHBOARD_PORT=80
